body {
    background-image: url(photos/anime1.jpg); /*加载背景图*/
    background-position: center center;  /* 背景图垂直、水平均居中 */
    background-repeat: no-repeat; /* 背景图不平铺 */ 
    background-attachment: fixed;  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-size: cover;  /* 让背景图基于容器大小伸缩(此条属性必须设置否则可能无效) */
    background-color: #2a9d79;  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  }

  .tx{
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
    overflow: hidden;
    position: relative;
    top: 25px;   /*top和left只有在相对位置下使用*/
    left: 50px;
  }
  .b li{
    float: auto;
    width: 180px;
    height: 50px;
    position: relative;
    top: 350px;
    left: 50px;
    font-weight: 700;
    font-size:25px;:
 

  }
  li {
    list-style: none;
} 
a:link{color:coral}
a:hover{color: bisque;}


